* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  background-color: #ffffff;
}

/*-------------------------------------------------------------*/
/*login*/


.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    align-items: center;
}

.login-card {
    background-color: #1f1313;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.7);
    padding: 30px;
    text-align: center;
}

.login-logo {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #a67c52;
    margin-bottom: 20px;
}

.login-title {
    color: #f5e6d3;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 20px;
}

.form-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #a67c52;
    background-color: #3b2626;
    color: #ffffff;
    font-size: 14px;
}

.form-input::placeholder {
    color: #d9c8b6;
}

.form-input:focus {
    outline: none;
    border-color: #a67c52;
    background-color: #3b2626;
}

.btn-login {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #a67c52;
    color: #4b2e2e;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.btn-login:hover {
    background-color: #d4b084;
}

.alert-danger {
    background-color: #ff4c4c;
    color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 14px;
}

.text-muted {
    color: #d9c8b6;
    font-size: 14px;
    margin-top: 10px;
}


/*header*/


.admin-header {
    width: 100%;
    background-color: #4b2e2e;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
}

.admin-header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.admin-header .logo img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 5px;
}

.admin-header .logo h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
}

.admin-nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 15px 0 0 0;
    padding: 0;
    justify-content: center;
}

.admin-nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 4px;
    transition: 0.2s;
}

.admin-nav ul li a:hover,
.admin-nav ul li a.active {
    background-color: #a67c52;
    color: #4b2e2e;
}

/*dashboard*/
.dashboard-title {
    font-size: 38px;
    font-weight: 700;
    margin-top:20px;
    padding:10px 20px;
    text-align: center;
    margin-bottom: 20px;
    color: #4b2e2e;
}

.dashboard-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding:10px 20px;
}

.dashboard-card-link {
    text-decoration: none;
    color: inherit;
    flex: 1 1 200px;
}

.dashboard-card {
    background-color: #3b2626;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    transition: transform 0.2s, box-shadow 0.2s;
}

.dashboard-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

.dashboard-card-body {
    padding: 20px;
    text-align: center;
}

.dashboard-card-body .card-label {
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 10px;
}

.dashboard-card-body .card-value {
    font-size: 32px;
    font-weight: 700;
    color:whitesmoke;
}

.dashboard-btn {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s;
    text-align: center;
    margin-right: 5px;
    border: none;
}

.dashboard-btn-primary {
    background-color: #6b3e26;
    color: #f5e6d3;
}

.dashboard-btn-primary:hover {
    background-color: #8b5a3c;
}

.dashboard-btn-success {
    background-color: #a67c52;
    color: #4b2e2e;
}

.dashboard-btn-success:hover {
    background-color: #d4b084;
}

.dashboard-btn-danger {
    background-color: #b71c1c;
    color: #f5e6d3;
}

.dashboard-btn-danger:hover {
    background-color: #d32f2f;
}


/*client*/
.page-container {
    margin: auto;
    padding:10px;
}

.page-title {
    font-size: 38px;
    font-weight: 700;
    margin-top:20px;
    padding:10px 10px;
    text-align: center;
    margin-bottom: 20px;
    color: #4b2e2e;
}

a {
    text-decoration: none;
    color: inherit; 
    font-size: 30px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s;
    margin-right: 5px;
}


.btn-success:hover {
    background-color: #d4b084;
}

.btn-primary:hover {
    background-color: #8b5a3c;
}


.btn-danger:hover {
    background-color: #d32f2f;
}

.table-client {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background-color: #4b2e2e;
    border-radius: 8px;
    overflow: hidden;
    padding:10px 20px;
    margin:10px;
}

.table thead {
    background-color: #ffffff;
}

.table-client th,
.table-client td {
    padding: 12px 15px;
    text-align: left;
    color:#ffffff;
}

.table-client th {  
    background-color: #3b1f1f;
    font-weight: 600;
}

.table-client tr:nth-child(even) {
    background-color: #532d2d;
}

.table-client tr:hover {
    background-color: #6d6259; 
    color: #4b2e2e; 
}

/*menu*/
.menu-container {
    margin: auto;
    padding:10px;
}

.menu-title {
    font-size: 38px;
    font-weight: 700;
    margin-top:20px;
    padding:10px 10px;
    text-align: center;
    margin-bottom: 20px;
    color: #4b2e2e;
}

.table-menu {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background-color: #4b2e2e;
    border-radius: 8px;
    overflow: hidden;
    padding:10px 20px;
    margin:10px;
}

.table-menu th,
.table-menu td {
    padding: 12px 15px;
    text-align: left;
    color:#ffffff;
}

.table-menu thead {
    background-color: #4b2e2e;
}

.table-menu th {  
    background-color: #3b1f1f;
    font-weight: 600;
}

.table-menu tr:nth-child(even) {
    background-color: #532d2d;
}

.table-menu tr:hover {
    background-color: #6d6259; 
    color: #4b2e2e; 
}

.menu-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #a67c52;
}

.btn-edit, .btn-delete {
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    transition: 0.2s;
}

.btn-edit {
    background-color: #a67c52;
}

.btn-edit:hover {
    background-color: #d4b084;
}

.btn-delete {
    background-color: #c0392b;
}

.btn-delete:hover {
    background-color: #e74c3c;
}

/*order*/

.order-container {
    margin: auto;
    padding:10px;
}

.order-title {
    font-size: 38px;
    font-weight: 700;
    margin-top:20px;
    padding:10px 10px;
    text-align: center;
    margin-bottom: 20px;
    color: #4b2e2e;
}

.table-order {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background-color: #4b2e2e;
    border-radius: 8px;
    overflow: hidden;
    padding:10px 20px;
    margin:10px;
}

.table-order th,
.table-order td {
    padding: 12px 15px;
    text-align: left;
    color:#ffffff;
}

.table-order thead {
    background-color: #4b2e2e;
}

.table-order th {  
    background-color: #3b1f1f;
    font-weight: 600;
}

.table-order tr:nth-child(even) {
    background-color: #532d2d;
}

.table-order tr:hover {
    background-color: #6d6259; 
    color: #4b2e2e; 
}


.btn-edit, .btn-delete {
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    transition: 0.2s;
}

.btn-edit {
    background-color: #a67c52;
}

.btn-edit:hover {
    background-color: #d4b084;
}

.btn-delete {
    background-color: #c0392b;
}

.btn-delete:hover {
    background-color: #e74c3c;
}



/*booking*/

.booking-container {
    margin: auto;
    padding:10px;
}

.booking-title {
    font-size: 38px;
    font-weight: 700;
    margin-top:20px;
    padding:10px 10px;
    text-align: center;
    margin-bottom: 20px;
    color: #4b2e2e;
}

.table-booking {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background-color: #4b2e2e;
    border-radius: 8px;
    overflow: hidden;
    padding:10px 20px;
    margin:10px;
}

.table-booking th,
.table-booking td {
    padding: 12px 15px;
    text-align: left;
    color:#ffffff;
}

.table-booking thead {
    background-color: #4b2e2e;
}

.table-booking th {  
    background-color: #3b1f1f;
    font-weight: 600;
}

.table-booking tr:nth-child(even) {
    background-color: #532d2d;
}

.table-bookingr tr:hover {
    background-color: #6d6259; 
    color: #4b2e2e; 
}


.btn-edit, .btn-delete {
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    transition: 0.2s;
}

.btn-edit {
    background-color: #a67c52;
}

.btn-edit:hover {
    background-color: #d4b084;
}

.btn-delete {
    background-color: #c0392b;
}

.btn-delete:hover {
    background-color: #e74c3c;
}

*seats*/

.seats-container {
    margin: auto;
    padding:10px;
}

.seats-title {
    font-size: 38px;
    font-weight: 700;
    margin-top:20px;
    padding:10px 10px;
    text-align: center;
    margin-bottom: 20px;
    color: #4b2e2e;
}

.table-seats {
    width: 100%;
    bseats-collapse: collapse;
    margin-top: 15px;
    background-color: #4b2e2e;
    bseats-radius: 8px;
    overflow: hidden;
    padding:10px 20px;
    margin:10px;
}

.table-seats th,
.table-seats td {
    padding: 12px 15px;
    text-align: left;
    color:#ffffff;
}

.table-seats thead {
    background-color: #4b2e2e;
}

.table-seats th {  
    background-color: #3b1f1f;
    font-weight: 600;
}

.table-seats tr:nth-child(even) {
    background-color: #532d2d;
}

.table-seats tr:hover {
    background-color: #6d6259; 
    color: #4b2e2e; 
}


.btn-edit, .btn-delete {
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    transition: 0.2s;
}

.btn-edit {
    background-color: #a67c52;
}

.btn-edit:hover {
    background-color: #d4b084;
}

.btn-delete {
    background-color: #c0392b;
}

.btn-delete:hover {
    background-color: #e74c3c;
}

/*equipment*/

.equipment-container {
    margin: auto;
    padding:10px;
}

.equipment-title {
    font-size: 38px;
    font-weight: 700;
    margin-top:20px;
    padding:10px 10px;
    text-align: center;
    margin-bottom: 20px;
    color: #4b2e2e;
}

.table-equipment {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background-color: #4b2e2e;
    border-radius: 8px;
    overflow: hidden;
    padding:10px 20px;
    margin:10px;
}

.table-equipment th,
.table-equipment td {
    padding: 12px 15px;
    text-align: left;
    color:#ffffff;
}

.table-equipment thead {
    background-color: #4b2e2e;
}

.table-equipment th {  
    background-color: #3b1f1f;
    font-weight: 600;
}

.table-equipment tr:nth-child(even) {
    background-color: #532d2d;
}

.table-equipment tr:hover {
    background-color: #6d6259; 
    color: #4b2e2e; 
}


.btn-edit, .btn-delete {
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    transition: 0.2s;
}

.btn-edit {
    background-color: #a67c52;
}

.btn-edit:hover {
    background-color: #d4b084;
}

.btn-delete {
    background-color: #c0392b;
}

.btn-delete:hover {
    background-color: #e74c3c;
}


/*seats*/

.seats-container {
    margin: auto;
    padding:10px;
}

.seats-title {
    font-size: 38px;
    font-weight: 700;
    margin-top:20px;
    padding:10px 10px;
    text-align: center;
    margin-bottom: 20px;
    color: #4b2e2e;
}

.table-seats {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background-color: #4b2e2e;
    border-radius: 8px;
    overflow: hidden;
    padding:10px 20px;
    margin:10px;
}

.table-seats th,
.table-seats td {
    padding: 12px 15px;
    text-align: left;
    color:#ffffff;
}

.table-seats thead {
    background-color: #4b2e2e;
}

.table-seats th {  
    background-color: #3b1f1f;
    font-weight: 600;
}

.table-seats tr:nth-child(even) {
    background-color: #532d2d;
}

.table-seats tr:hover {
    background-color: #6d6259; 
    color: #4b2e2e; 
}


.btn-edit, .btn-delete {
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    transition: 0.2s;
}

.btn-edit {
    background-color: #a67c52;
}

.btn-edit:hover {
    background-color: #d4b084;
}

.btn-delete {
    background-color: #c0392b;
}

.btn-delete:hover {
    background-color: #e74c3c;
}


/*payment*/

.payment-container {
    margin: auto;
    padding:10px;
}

.payment-title {
    font-size: 38px;
    font-weight: 700;
    margin-top:20px;
    padding:10px 10px;
    text-align: center;
    margin-bottom: 20px;
    color: #4b2e2e;
}

.table-payment {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background-color: #4b2e2e;
    border-radius: 8px;
    overflow: hidden;
    padding:10px 20px;
    margin:10px;
}

.table-payment th,
.table-payment td {
    padding: 12px 15px;
    text-align: left;
    color:#ffffff;
}

.table-payment thead {
    background-color: #4b2e2e;
}

.table-payment th {  
    background-color: #3b1f1f;
    font-weight: 600;
}

.table-payment tr:nth-child(even) {
    background-color: #532d2d;
}

.table-payment tr:hover {
    background-color: #6d6259; 
    color: #4b2e2e; 
}


.btn-edit, .btn-delete {
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    transition: 0.2s;
}

.btn-edit {
    background-color: #a67c52;
}

.btn-edit:hover {
    background-color: #d4b084;
}

.btn-delete {
    background-color: #c0392b;
}

.btn-delete:hover {
    background-color: #e74c3c;
}

/*admin crud*/

.admin-form {
    width: 100%;
    max-width: 600px;
    margin: 30px auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
}

.admin-form h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

.admin-form .form-control {
    padding: 12px;
    height: 45px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    transition: 0.2s ease-in-out;
}

.admin-form .form-control:focus {
    border-color: #0d6efd;
    box-shadow: 0 0 5px rgba(13,110,253,0.4);
}

.admin-form select.form-control {
    background-color: #fff;
    cursor: pointer;
}

.admin-form button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    font-weight: 600;
}

.admin-form button:hover {
    opacity: 0.9;
}
